h1 {
 color: white;
 Border-style: groove;
 float: right;
 border-color: white;
 }

body {
 margin: 100px;
 background-color: grey; 
}

span.navigationSpace {
 margin-left: 50px;
}

img {
 width: 325px;
 float: left;
 border-style: dotted;
 border-color: brown;
 border-radius: 200px;
 height: 162px
}

p {
 color: white;
 border-style: groove;
 border-width: thick;
}
